<h1>bonjour {{ person.firstname }}</h1>
{{ dump(person) }}

{% block body %}

<div class="alert alert-success" role="alert">
    {{ person.firstname }} {{ person.lastname }} a {{ person.age }} et est {{ person.trade }}
</div>

{% endblock %}
